*,
*:before,
*:after {
  box-sizing: border-box;
}

.contain{
  min-height: 75vh;
}

#app {
  font-family: "Poppins", sans-serif;
  text-align: center;
  color: #2c3e50;
  padding-left: 0rem;
}

h1,
h2,
h3 {
  margin: 1rem 0;
}

template {
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
  text-decoration: underline;
}


.myCustom-enter-active,
.myCustom-leave-active {
  transition: opacity .4s, transform .4s;
}

.myCustom-enter,
.myCustom-leave-to {
  opacity: 0;
  transform: translateX(-30);
}